{% extends "head.twig" %}
{% block body %}
    <div class="container">
      <div class="jumbotron">
        <h1>Hello!!</h1>
        <form method="post" action={{ url }}>
          <div class="form-group">
            <label for="data1">post data1</label>
            <input type="text" class="form-control" name="data1" id="data1">
          </div>
          <div class="form-group">
            <label for="data2">post data2</label>
            <input type="text" class="form-control" name="data2" id="data2">
          </div>
          <div align="left">
            <button type="submit" class="btn btn-lg btn-info">送信</button>
          </div>
          <input type="hidden" name="{{ name_key }}" value="{{ name }}">
          <input type="hidden" name="{{ value_key }}" value="{{ value }}">
        </form>
        <br>
        {%if data_line %}
          <ul class="list-group">
          {% for data in data_line %}
            <li class="list-group-item" style="word-wrap: break-word;"> {{ data.data1 }} ({{ data.data2 }})</li>
          {% endfor %}
          </ul>
        {% endif %}
      </div>
{% endblock %}
